{% extends "base.html" %}
{% block content %}

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Team leader</th>
      <th>Duration</th>
      <th>Collaborators</th>
      <th>Is finished</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
      <tr>
        <th scope="row">6</th>
        <td>{{job.id}}</td>
        <td>{{users.filter(User.id == job.team_leader).first().surname}} {{users.filter(User.id == job.team_leader).first().name}}</td>
        <td>{{job.work_size}}</td>
        <td>{{job.collaborators}}</td>
        {% if job.is_finished %}
          <td>is
            finished</td>
        {% else %}
          <td>is not
            finished</td>
        {% endif %}
      </tr>
    {% endfor %}}
  </tbody>
</table>
{% endblock %}